body{
    background-color: rgb(223, 223, 145);
}
.page{
    width: 10cm;
    height: 17cm;
    background-color: red;
    margin-left: 12cm;
}
.p_entete {
    background-color: rgb(255, 255, 255);
    width: 34%;
    height: 0.9cm;
    float: right;
    font-size: 9px;
    text-align: center;
}
h1{
    color: white;
    text-align: left;
}
.p_qu{
    font-size: larger;
    width: 80%;
    height: 20%;
    margin-left: 30px;
}
.dessin{
    margin-left: 50px;
}
.d_1{
    background-color: red;
    width: 3px;
    height: 10px;
    border: 0.2cm solid white;
    margin-left: 129px;
    border-bottom: none;
}
.d_2{
    background-color: red;
    border: 0.17cm solid white;
    width: 40%;
    height: 1.1cm;
    margin-left: 75px
}
.d_2{
    border-left: none;
}
.d__1{
    background-color: white;
    width: 100px;
    height: 8px;
    margin-left: 15px;
    margin-top: 17px;
    
}
.d_3{
    background-color: red;
    border: 0.17cm solid white;
    width: 40%;
    height: 1.1cm;
    margin-left: 95px
    
}
.d_3{
    margin-top: 3px;
    border-right: none;
}
.d__2{
    background-color: white;
    width: 100px;
    height: 8px;
    margin-left: 15px;
    margin-top: 5x;
}
.d_4{
    background-color: red;
    border: 0.17cm solid white;
    width: 40%;
    height: 1.1cm;
    margin-left: 75px
}
.d_4{
    margin-top: 3px;
    border-right: none;
}
.d__3{
    background-color: white;
    width: 100px;
    height: 8px;
    margin-left: 15px;
    margin-top: 5x;
}
.d_5{
    background-color: red;
    border: 0.17cm solid white;
    width: 40%;
    height: 1.1cm;
    margin-left: 95px
}
.d_5{
    margin-top: 3px;
    border-left: none;
}
.d__4{
    background-color: white;
    width: 100px;
    height: 8px;
    margin-left: 15px;
    margin-top: 5x;
}
.d_6{
    background-color: white;
    width: 15px;
    height: 150px;
    margin-left: 130px;
}
.d_7{
    background-color: white;
    width: 78%;
    height: 15px;
    margin-left: 15px;
}
.d___1{
    width:0 ;
    height: 0;
    border-top: 27px solid transparent ;
    border-bottom: 27px solid transparent;
    border-right: 27px solid rgb(255, 255, 255);
    float: left;
    margin-left: 48px;
}
.d____1{
    width:0 ;
    height: 0;
    border-top: 17px solid transparent ;
    border-bottom: 17px solid transparent;
    border-right: 17px solid rgb(255, 255, 255);
    float: left;
    margin-left: 11px;
    margin-top: 3.5px;
    
}
.d___2{
    width: 0;
    height: 0;
    border-top: 27px solid transparent;
    border-bottom: 27px solid transparent;
    border-left: 27px solid white;
    float: right;
    margin-right: 68.5px;
    margin-top: 0.3285px;
}
.d____2{
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 17px solid white;
    float: right;
    margin-right: 9px;
    margin-top: 5px;
}
.d___3{
    width: 0;
    height: 0;
    border-top: 27px solid transparent;
    border-bottom: 27px solid transparent;
    border-left: 27px solid white;
    float: right;
    margin-right: 88px;
    margin-top: 0.3285px;
}
.d____3{
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 17px solid white;
    float: right;
    margin-right: 9px;
    margin-top: 5px;
}
.d___4{
    width:0 ;
    height: 0;
    border-top: 27px solid transparent ;
    border-bottom: 27px solid transparent;
    border-right: 27px solid rgb(255, 255, 255);
    float: left;
    margin-left: 68px;
}
.d____4{
    width:0 ;
    height: 0;
    border-top: 17px solid transparent ;
    border-bottom: 17px solid transparent;
    border-right: 17px solid rgb(255, 255, 255);
    float: left;
    margin-left: 11px;
    margin-top: 5px;
    
}

